<h1>Services#index</h1>
<p>Find me in app/views/services/index.html.erb</p>
<div class="container">

    <ul>
    <% @services.sort.each do |service| %>
    <ul class="list-group list-group-flush" style="width: 20rem;">
      <li>  <%= link_to service.title, service, :class => "list-group-item list-group-item-light" %></li>
    </ul>
    <% end %>
    </ul>

  </div>
