
<div class="container">
  <div class="card-body-fluid  mb-3">
    <h1 class="display-4">Translatorss</h1>
    <div>
      <% @users.where(:translator => true).each do |s|  %>
          <%= s.email %>
      <% end %>
    <!-- Teste -->





    </div>


  </div>


</div>
